In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 문제 1. 다음 URL에서 제공되는 CSV 파일을 pandas를 사용해 불러오시오.
df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/mpg.csv')
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [14]:
### 문제 2. 다음 세 칼럼에 대해 **IQR 방식을 사용**하여 이상치를 탐지하시오.

# - `mpg`, `horsepower`, `weight`

# 각 칼럼별로 이상치의 개수를 출력하시오.

numeric_cols = df.select_dtypes(include=['number']).columns

for col in numeric_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1

    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR

    outliers = df[(df[col] < lower) | (df[col] > upper)]

    print(f"컬럼'{col}': {len(outliers)}개")

컬럼'mpg': 1개
컬럼'cylinders': 0개
컬럼'displacement': 0개
컬럼'horsepower': 10개
컬럼'weight': 0개
컬럼'acceleration': 7개
컬럼'model_year': 0개

In [ ]:
# ### 문제 3. 이상치 제거 및 통계량 계산

# 이상치를 제거전, 해당 칼럼들의 **기초 통계량**(평균, 중앙값, 표준편차)을 계산하시오.

# 이상치를 제거후, 해당 칼럼들의 **기초 통계량**(평균, 중앙값, 표준편차)을 계산하시오.

df_clean = df.copy()

numeric_cols = df_clean.select_dtypes(include=['number']).columns

for col in numeric_cols:
    Q1 = df_clean[col].quantile(0.25)
    Q3 = df_clean[col].quantile(0.75)
    IQR = Q3 - Q1

    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR

    outlier_indices = df_clean[(df_clean[col] < lower) | (df_clean[col] > upper)].index

    df_clean.drop(outlier_indices, inplace=True)
print(f"이상치 제거 전 \n {df.describe()} \n 이상치 제거 후 \n{df_clean.describe()}")

grouping = ['mpg', 'horsepower', 'weight']
stats = df_clean.groupby('origin')[grouping].agg(['mean', 'median', 'std'])

print(stats)

In [26]:
### 문제 4. 그룹별 통계량 계산

# 이상치를 제거한 후 데이터를 `origin` 값 기준으로 그룹화하여, 각 그룹에 대해 아래 변수들의 평균, 중앙값, 표준편차를 구하시오.

# - `mpg`, `horsepower`, `weight`

numeric_cols = df_clean.select_dtypes(include=['number']).columns

for col in numeric_cols:
    Q1 = df_clean[col].quantile(0.25)
    Q3 = df_clean[col].quantile(0.75)
    IQR = Q3 - Q1

    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR

    outlier_indices = df_clean[(df_clean[col] < lower) | (df_clean[col] > upper)].index

    df_clean.drop(outlier_indices, inplace=True)

grouping = ['mpg', 'horsepower', 'weight']
stats = df_clean.groupby('origin')[grouping].agg(['mean', 'median', 'std'])

print(stats)

              mpg                   horsepower                         weight  \
             mean median       std        mean median        std         mean
origin
europe  27.325397  26.00  5.986866   82.786885   78.0  19.557705  2398.682540
japan   30.243590  31.55  5.842935   80.025641   75.0  17.853643  2222.653846
usa     20.574123  19.00  6.297380  112.758929  105.0  32.078168  3294.403509


        median         std
origin
europe  2223.0  480.365245
japan   2157.5  322.319347
usa     3280.0  759.983987

In [ ]:
### 문제 5. 해석

# 4번 결과를 바그래프로 그리시오

sns.barplot(data=stats,x=grouping,y=ori)